<div>
  <form [formGroup]="dateFilterForm" novalidate (ngSubmit)="dateFilterChanged($event)">
    <div class="form-group required">
      <input type="date" class="form-control" formControlName="from">
    </div>
    <div class="form-group required">
      <input type="date" class="form-control" formControlName="to">
    </div>
    <div>
      <button type="submit" class="btn btn-default">Filter</button>
    </div>
  </form>
</div>
