<header>
  <h3>
    <span class="glyphicon glyphicon-user"></span> All Users
  </h3>
</header>
<br/>

<div class="container">
  <div class="row grid-container">
    <div class="col-md-10">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th cm-sort-by="name" (sorted)="sort($event)">Name</th>
            <th cm-sort-by="description" (sorted)="sort($event)">Facebook</th>
            <th cm-sort-by="country" (sorted)="sort($event)">Email</th>
            <th cm-sort-by="weight" (sorted)="sort($event)">Phone</th>
            <th cm-sort-by="usualPrice" (sorted)="sort($event)">Address</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td><a [routerLink]="['/users', user.id, 'details']">{{ user.name }}</a></td>
            <td>{{ user.facebook }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
          </tr>
          <tr *ngIf="!users.length">
            <td>&nbsp;</td>
            <td colspan="7">No Users Found</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<cm-pagination [hidden]="!(totalRecords > pageSize)" [totalItems]="totalRecords" [pageSize]="pageSize"
               (pageChanged)="pageChanged($event)"></cm-pagination>
