<div class="row">
  <div class="col-md-6">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="toolbar-item">
          <a routerLink="/items/ordered"><span class="glyphicon glyphicon-align-justify"></span> Ordered Items</a>
        </li>
        <li class="toolbar-item">
          <a routerLink="/items/all"><span class="glyphicon glyphicon-align-justify"></span> All Items</a>
        </li>
        <li class="toolbar-item">
          <a routerLink="/items/new"><span class="glyphicon glyphicon-plus"></span> New Item</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<item-search></item-search><br>

<div class="container">
  <div class="row grid-container">
    <div class="col-md-10">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th cm-sort-by="name" (sorted)="sort($event)">Name</th>
            <th cm-sort-by="description" (sorted)="sort($event)">Description</th>
            <th cm-sort-by="country" (sorted)="sort($event)">Country</th>
            <th cm-sort-by="weight" (sorted)="sort($event)">Weight (gram)</th>
            <th cm-sort-by="usualPrice" (sorted)="sort($event)">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of filteredItems">
            <td><img src="images" class="grid-image" alt=""/></td>
            <td><a [routerLink]="['../=', item.id, 'details']">{{ item.name}}</a></td>
            <td>{{ item.description | truncate : 20 }}</td>
            <td>{{ item.country}}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.usualPrice }}</td>
          </tr>
          <tr *ngIf="!filteredItems.length">
            <td>&nbsp;</td>
            <td colspan="7">No Records Found</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <cm-pagination [hidden]="!(totalRecords > pageSize)" [totalItems]="totalRecords" [pageSize]="pageSize"
                 (pageChanged)="pageChanged($event)"></cm-pagination>
</div>