<header>
  <h3>
    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Orders
  </h3>
</header>
<br/>

<div class="container">
  <div *ngIf="orders">

    <div class="row" *ngFor="let order of orders">
      <h3><b>{{ order.user.name }}</b></h3>
      <h4>{{order.createdDate | date:'medium'}}</h4>
      <br/>
      <table *ngIf="orders.length" class="table table-striped table-hover orders-table">
        <thead>
        <tr>
          <th cm-sort-by="name" (sorted)="sort($event)">Description</th>
          <th cm-sort-by="country" (sorted)="sort($event)">Quantity</th>
          <th cm-sort-by="description" (sorted)="sort($event)">Price</th>
        </tr>
        </thead>
        <tr *ngFor="let item of order.items">
          <td>{{ item.description}}</td>
          <td>{{ item.orderQuantity}}</td>
          <td class="text-right">{{ item.pricePerItem}}</td>
        </tr>
        <tr class="summary-border">
          <td>&nbsp;</td>
          <td>Total:</td>
          <td class="text-right">{{calculateOrderTotalAmount(order)}}
        </tr>
      </table>
      <div *ngIf="!orders || !orders.length">
        No orders found
      </div>
    </div>

    <cm-pagination [hidden]="!(totalRecords > pageSize)" [totalItems]="totalRecords" [pageSize]="pageSize"
                   (pageChanged)="pageChanged($event)"></cm-pagination>

  </div>
  <div *ngIf="!orders">No orders found</div>
</div>
