.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

textarea {
    height:auto;
    max-width:600px;
    color:#999;
    font-weight:400;
    font-size:16px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0 0 5px 1px rgba(0,0,0,0.1);
    padding:10px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif
}

main {
    position: relative;
    padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { 
    display: none !important; 
}

th {
  cursor: pointer;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

.toolbar-item a {
  cursor: pointer;
}

.orders-table {
    width:50%;
}

.orders-table td {
    width: 50%;
}

.summary-border {
    border-top: 2px solid black;
}

.indent {
    margin-left:5px;
}

.navbar {
    height: 60px;
}

.navbar .nav > li.toolbar-item > a {
    color: #9E9E9E;
    font-weight:bold;
}

.navbar .nav > .toolbar-item > a.active {
    color: #000;
}

.navbar-header {
    margin-top: -10px;
}

.navbar-collapse {
    float:right;
    margin-top: 15px;
}

.nav.navbar-padding {
    margin-left:25px;
    margin-top: 10px;
}

a.navbar-brand {
    color: #fff;
}

.navbar-brand>img {
    display: inline-block;
}

.navbar-inner {
    padding-left: 0px;
    background-color: #027FF4;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: #E03930;
}

.navbar .nav > li  {
    cursor:pointer;
}

.navbar .nav > li > a {
    color: white;
    font-weight:bold;
    height:30px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.navbar .nav > li.toolbaritem > a {
    color: black;
    font-weight:bold;
}

.nav.navBarPadding {
    margin-left: 25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

footer {
    margin-top: 15px;
}

form {
	width:50%;
}


a:hover, a:focus {
  text-decoration: none;
}

