<div *ngIf="item">
  <div class="row">
    <div class="col-md-2">
      <img src="" class="details-image"/>
    </div>
    <div class="col-md-10">
      <h4>
        {{ item.name | capitalize }}&nbsp;
      </h4>
      <br/>
      {{ item.description}}
      <br/>
      {{ item.country}}
    </div>
  </div>

  <ul>
    <li>
      <dl>
        <dt>Email type:</dt>
        <dd id="up-p-mimetype">
          HTML
        </dd>
      </dl>
      <dl>
        <dt>Language:</dt>
        <dd id="up-p-locale">
          English (United States)
        </dd>
      </dl>
    </li>
  </ul>
  <br/><br/>
</div>
<div *ngIf="!item" class="row">
  No item found
</div>  