<div class="row">
  <div class="col-md-6">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="toolbar-item">
          <a routerLink="/items/ordered"><span class="glyphicon glyphicon-align-justify"></span> Ordered Items</a>
        </li>
        <li class="toolbar-item">
          <a routerLink="/items/all"><span class="glyphicon glyphicon-align-justify"></span> All Items</a>
        </li>
        <li class="toolbar-item">
          <a routerLink="/items/new"><span class="glyphicon glyphicon-plus"></span> New Item</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div>
  <form [formGroup]="itemForm" novalidate (ngSubmit)="addItem(itemForm.value, itemForm.valid)">
    <div class="form-group required">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small [hidden]="itemForm.controls.name.valid || (itemForm.controls.name.pristine && !submitted)" class="text-danger">
        Name is required (minimum 5 characters).
      </small>
    </div>

    <div class="form-group">
      <label>Website</label>
      <input type="url" class="form-control" formControlName="url">
    </div>

    <div class="form-group">
      <label>Image Url</label>
      <input type="url" class="form-control" formControlName="imageUrl">
    </div>

    <div class="form-group required">
      <label>Country</label>
      <input type="text" class="form-control" formControlName="country">
      <small [hidden]="itemForm.controls.country.valid || (itemForm.controls.country.pristine && !submitted)" class="text-danger">
        Country is required.
      </small>
    </div>

    <div class="form-group required">
      <label>Weight</label>
      <input type="number" class="form-control" formControlName="weight">
      <small [hidden]="itemForm.controls.weight.valid || (itemForm.controls.weight.pristine && !submitted)" class="text-danger">
        Weight is required.
      </small>
    </div>

    <div class="form-group required">
      <label>Description</label><br>
      <textarea formControlName="description" rows="4"></textarea>
      <small [hidden]="itemForm.controls.description.valid || (itemForm.controls.description.pristine && !submitted)" class="text-danger">
        Description is required.
      </small>
    </div>

    <div class="form-group required">
      <label>Base Price</label>
      <input type="number" class="form-control" formControlName="basePrice">
      <small [hidden]="itemForm.controls.basePrice.valid || (itemForm.controls.basePrice.pristine && !submitted)" class="text-danger">
        Base price is required.
      </small>
    </div>

    <div class="form-group required">
      <label>Usual Price</label>
      <input type="number" class="form-control" formControlName="usualPrice">
      <small [hidden]="itemForm.controls.usualPrice.valid || (itemForm.controls.usualPrice.pristine && !submitted)" class="text-danger">
        Usual price is required.
      </small>
    </div>

    <div class="form-group">
      <label>Promotion Price</label>
      <input type="number" class="form-control" formControlName="promotionPrice">
    </div>

    <div class="form-group">
      <label>Category</label>
      <select (change)="onCategorySelect($event.target.value)">
        <option value="0">All</option>
        <option *ngFor="let itemCategory of itemCategories" value={{itemCategory}}>{{itemCategory}}</option>
      </select>
    </div>

    <div class="form-group required">
      <label>Color</label>
      <input type="text" class="form-control" formControlName="color">
      <small [hidden]="itemForm.controls.color.valid || (itemForm.controls.color.pristine && !submitted)" class="text-danger">
        Color is required.
      </small>
    </div>

    <div class="form-group required">
      <label>Quantity</label>
      <input type="number" class="form-control" formControlName="inventoryQuantity">
      <small [hidden]="itemForm.controls.inventoryQuantity.valid || (itemForm.controls.inventoryQuantity.pristine && !submitted)" class="text-danger">
        Quantity is required.
      </small>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br/>
</div>