<div class="orders view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;User Information</h3>
    </header>
    <br/>
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="toolbar-item">
          <a routerLink="details" routerLinkActive="active">
            <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;User Details
          </a>
        </li>
        <li class="toolbar-item">
          <a routerLink="orders" routerLinkActive="active">
            <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;User's Orders
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
      <br/>
    </div>
  </div>
</div>