<div *ngIf="user">
  <div class="row">
    <div class="col-md-10">
      <h4>{{ user.name | capitalize }}&nbsp;</h4>
      <div>
        Facebook: {{ user.facebook}}
      </div>
      <div>
        Email: {{ user.email}}
      </div>
      <div>
        Birthday: {{ user.birthday}}
      </div>
      <div>
        Gender: {{ user.gender}}
      </div>
      <div>
        Phone: {{ user.phone}}
      </div>
      <div>
        Address: {{ user.address}}
      </div>
      <div>
        Joined day: {{ user.createdDate | date:'medium'}}
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user" class="row">
  No user found
</div>
